
<div id="content">
    <div id="blog">
<div id="headerPadding"> </div>
<div class="blog-post">
    <h2 class="email"><a href="mailto:alyx@alyx-brett.net">alyx@alyx-brett.net</a></h2>
    <h2 class="github"><a href="https://github.com/alyx-brett/">alyx-brett</a></h2>
    <h2 class="instagram"><a href="https://instagram.com/art_by_alyx">art_by_alyx</a></h2>
    <h2 class="instagram"><a href="https://instagram.com/photos_by_alyx">photos_by_alyx</a></h2>
    <h2 class="instagram"><a href="https://instagram.com/portraits_by_alyx">portraits_by_alyx</a></h2>
    <h2 class="youtube"><a href="https://www.youtube.com/channel/UCMlQO0BCjMs1Xnzw8Mo5i2g">art_by_alyx</a></h2>
</div>
</div>
</div>